
.footer{
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
}

.footer-contents{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 2vh 15vw;
  background-color: #707070;
}

.footer-logo-white {
  margin: 20px 0;
}

.footer-sns-logos {
  width: 200px;
  margin-top: 40px;
}

.footer-sns-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-sns-white {
  width: 50px;
}

.twitter-sns-white {
  width: 50px;
  margin-left: 20px;
}

.footer-sns-logos>p {
  font-size: 14px;
  text-align: center;
}