
.header{
  width: 100vw;
}


.header_bar{
  background-color: #707070;
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
}

.header_bar>a{
  display:inline-block
}


.date-icon {
  width: 30vw;
  margin-right: 10vw;
}
.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin: 0 0 0 auto;
}

.logout {
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 14px;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 14px;
}

.sign-up {
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 14px;
}

.new-date {
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 14px;
}