* {
  box-sizing: border-box;
}





/* main */
.main{
  background-color: #fff;
  height: 500px;
}


/* footer */
.footer{
  background-color: #707070;
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  text-align: center;
}