* {
  box-sizing: border-box;
}

.main{
  background: #f8f8f8;
}

.title-contents {
  width: 100vw;
  background-image: image-url('date-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
}

.servis-title {
  font-size: 6.5vh;
}

.servis-explain {
  font-size: 2.5vh;
}