<div class='footer'>
  <div class='footer-contents'>
    <%= link_to image_tag("logo.png", class:"footer-logo-white"), "#" %>
      <div class='footer-sns-logos'>
        <div class='footer-sns-logo'>
          <%= link_to image_tag("Instagram_White", class:"instagram-sns-white"), "#" %>
          <%= link_to image_tag("Twitter_logo_white.png", class:"twitter-sns-white"), "#" %>
        </div>
        <p>© FURUZONO</p>
      </div>
  </div>
</div>



